.job-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.center-loading {
    display: flex;
    align-items: center;
    justify-content: center;
}