.job-container-padding {
    margin-top: 1rem;
    /* border: 1px solid black; */
    border-radius: 1.4rem;
    width: 300px;
    padding: 1rem;
    padding-bottom: .5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
    transform: scale(1);
    transition: tranform 0.3s ease-in;

}

.job-container-padding:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.01)
}

/* .posted-date-container {
    margin: 1rem;
    margin-top: 1rem;
} */

.posted-date {
    padding: 4px 6px;
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    font-size: .7rem;

}



/* company info start here */

.capitalize {
    text-transform: capitalize;
}

.company-info{
    /* border: 1px solid; */
    display: flex;
    margin: 1rem 0;
}

.left-side-logo{
    width: 40px;
}

.left-side-logo img {
    width: 100%;

}

.company-info-post {
    line-height: 1.5rem;
    margin-left: .4rem;
    font-family: monospace;
    position: relative;
    /* bottom: 2px; */
    top: -7px;
}

.company-info-post p {
    margin: 0;
}

.company-name {
    font-family: monospace;
    font-weight: 900;
    color: #8b8b8b;
}

.company-location {
    font-size: .9rem;
}

/* company info ends here */

.company-salary p {
    margin: 0;
}

/* .company-para p {
} */

.about-company {
    font-size: 1.1rem;
    margin-bottom: .2rem;
    font-weight: 600;
    color: #454242;
}

.about-us {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: .1rem;
    font-weight: 600;
}

.about-company-para {
    margin-top: 0;
}

.fade {
    -webkit-mask-image: linear-gradient(180deg, #000 40%, transparent);
  }
  /* .fade {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
    transition: background-color 0.3s ease;
  } */

.job-link {
    text-align: center;
    position: relative;
    bottom: 19px;
    
}

.job-link a {
    text-decoration: none;
    color: #4943da;
}

.job-experience p{
    line-height: .5rem;
}

.min-exp {
    font-weight: 900;
    color: #8b8b8b;
}

.apply-btn {
    background-color: rgb(85, 239, 196);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: .99rem;
    padding: 8px 18px;
    width: 100%;
    border-radius: .7rem;
    border: none;
    margin-top: 2rem;
    /* margin-bottom: .5rem; */
    cursor: pointer;

}